bottle==0.12.19
imbalanced_learn==0.8.1
imblearn==0.0
joblib==1.1.0
pandas==1.3.4
paste==3.5.0
plotly==5.4.0
scikit_learn==1.0.1
xgboost==1.5.1
matplotlib==3.5.0
seaborn==0.11.2
ipykernel==6.4.1
